<!DOCTYPE html>
<html lang="en">
    <head>
        {% block head %}
            <meta charset="utf-8">
            <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
            <meta name="description" content="">
            <meta name="author" content="">

            <title>{% block title %}Title{% endblock %}</title>

            <!-- Bootstrap core CSS -->
            <link href="{{ url_for('static', filename='vendor/bootstrap/css/bootstrap.min.css') }}" rel="stylesheet">
            <!-- Custom fonts for this template -->
            <link href="{{ url_for('static', filename='vendor/fontawesome-free/css/all.min.css') }}" rel="stylesheet" type="text/css">
            <!-- Custom styles for this template -->
            <link href="css/clean-blog.min.css" rel="stylesheet">

            <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}" type="image/x-icon">
            <link rel="icon" href="{{ url_for('static', filename='favicon.ico') }}" type="image/x-icon">
        {% endblock %}
    </head>
    <body>
        {% block header %}
            <!-- Navigation -->
            <nav class="navbar navbar-expand-lg navbar-light fixed-top" id="mainNav">
                <div class="container">
                    <a class="navbar-brand" href="index.html">FormSafe</a>
                </div>
            </nav>

            <!-- Page Header -->
            <header class="masthead">
                <div class="overlay"></div>
                <div class="container">
                    <div class="row">
                        <div class="col-lg-8 col-md-10 mx-auto">
                            <div class="site-heading">
                                <h1>FormSafe POC</h1>
                            </div>
                        </div>
                    </div>
                </div>
            </header>
        {% endblock %}
        {% block content %}
            <div class="container">
                {% for message in get_flashed_messages() %}
                    <div class="alert alert-warning">
                        <button type="button" class="close" data-dismiss="alert">&times;</button>
                        {{ message }}
                    </div>
                {% endfor %}
                {% block page_content %}{% endblock %}

                <!-- Footer -->
                <footer>
                </footer>
        {% endblock %}
        {% block scripts %}
            <!-- Bootstrap core JavaScript -->
            <script src="{{ url_for('static', filename='vendor/jquery/jquery.min.js') }}"></script>
            <script src="{{ url_for('static', filename='vendor/bootstrap/js/bootstrap.bundle.min.js') }}"></script>
            <script>
             var csrftoken = "{{ csrf_token() }}";
             $.ajaxSetup({
                 beforeSend: function(xhr, settings) {
                     if (!/^(GET|HEAD|OPTIONS|TRACE)$/i.test(settings.type) && !this.crossDomain) {
                         xhr.setRequestHeader("X-CSRFToken", csrftoken)
                     }
                 }
             })
            </script>
        {% endblock %}
    </body>
</html>
