{% extends 'base.html' %}
{% block title %}FormSafe POC{% endblock %}
{% block page_content %}
    <!-- Page Content -->
    <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto text-center">
            <h2>
                These are the encrypted data:
            </h2>
            <small>
                <textarea rows="10" style="width:90%; word-wrap:break-word;">
                    {{ encrypted }}
                </textarea>
            </small>
            <br>
            <br>
            <div class="clearfix">
                In a production system, it would be impossible to
                decrypt the data on the webserver, as no private key
                would be present.  For this demonstration we have
                added an example private key.
                <br>
                <br>
                <a class="btn btn-primary float-center" onclick="decrypt()";>CLICK TO DECRYPT</a>
            </div>
            <br>
            <br>
            <div class="clearfix">
                <a class="btn btn-primary float-center" href="/";>Go back to homepage.</a>
            </div>
        </div>
        <hr>
    </div>
{% endblock %}
{% block scripts %}
    {{ super() }}
    <script src="{{ url_for('static', filename='js/fstiny.js') }}"></script>
    <script>
     var publicKeyPem = '{{ public_key }}';
     var privateKeyPem = '{{ private_key }}';
     function decrypt () {
         var encrypted = '{{ encrypted }}';
         // formsafe.encryptTestSingle().then(function(result) {alert(result)});
         // alert(privateKeyPem);
         // alert(encrypted);
         formsafe.decrypt(encrypted, privateKeyPem)
                 .then(function(result) {
                     // alert(formsafe.escapeData(JSON.stringify(JSON.parse(result).encrtext)));
                     // alert(result);
                     alert(JSON.stringify(JSON.parse(result).encrtext));
                 });
     }
    </script>
{% endblock %}
