{% extends 'base.html' %}
{% block title %}FormSafe POC{% endblock %}
{% block page_content %}
    <!-- Page Content -->
    <div class="container">
        <div class="row">
            <div id="surveyContainer" class="col-md-12"></div>
        </div>
        <div class="row">
            <div id="surveyAnswer" class="col-md-12">
            </div>
        </div>
    </div>
{% endblock %}
{% block scripts %}
    {{ super() }}
    <script src="{{ url_for('static', filename='js/fstiny.js') }}"></script>
    <script>
     var publicKeyPem = '{{ public_key }}';
     var privateKeyPem = '{{ private_key }}';
    </script>
    <script src="{{ url_for('static', filename='vendor/surveyjs-1.7.2/survey.jquery.min.js') }}"></script>
    <script type="text/javascript">
     Survey.StylesManager.applyTheme("bootstrap");

     var surveyJSON = {};
     function loadSurveyJSON() {
         $.getJSON("surveyintro.json", function (data) {
             surveyJSON = data;
             var survey = new Survey.Model(surveyJSON);
             $("#surveyContainer").Survey({
                 model: survey,
                 onComplete: sendDataToServer
             });
         });
     }

     function sendDataToServer(survey) {
         //send Ajax request to your web server.
         // var data = survey.data;
         var data = {};
         // encrypt the data
         // formsafe.encryptTestSingle().then(function(result) {alert(result)});
         // data.compsurvey = survey.data;
         formsafe.ecdh_encrypt(survey.data, publicKeyPem).then(function(result)
             {
                 data = result;
                 $.ajax({
                     url: "surveyecho",
                     type: "post",
                     // data: data,
                     data: JSON.stringify(data),
                     contentType: "application/json; charset=utf-8",
                     dataType: "json",
                     success: function (response) {
                         $("#surveyAnswer").show();
                         // $("#surveyAnswer").append(JSON.stringify(response));
                         // $("#surveyAnswer").append('<br>Go to <a href="/decrypt?response='+response+'">Decrypt</a>');
                         // $("#surveyAnswer").append(response);
                         $("#surveyAnswer").append('<br>');
                         $("#surveyAnswer").append('<br>');
                         $("#surveyAnswer").append('<div class="clearfix">');
                         $("#surveyAnswer").append('<a class="btn btn-primary float-center" href="/decrypt?response='+response+'";>Go to decryption.</a>');
                         $("#surveyAnswer").append('</div>');
                     },
                     error: function (jqXHR, textStatus, errorThrown) {
                         console.log(textStatus, errorThrown);
                     }
                 });
         });
     }

     $("#surveyAnswer").hide();
     loadSurveyJSON();
    </script>
{% endblock %}
